@media (max-width: 1440px) {
  body .contract .container {
    max-width: 1250px; }
    body .contract .container .row {
      margin-left: -70px; }
  .take_part_intro .line2 {
    margin-left: -620px; } }

@media (max-width: 1250px) {
  body ._container {
    max-width: 1024px; }
  body .menu ul li {
    margin-left: 30px; }
  body h3 {
    font-size: 38px !important; }
  .form h1 {
    font-size: 38px !important; }
  body .advantage p {
    font-size: 16px;
    line-height: 28px; }
  .advantage .number {
    margin-top: 5px; }
  body .form .inputs input {
    width: 450px; }
  body .consultation .row textarea {
    width: 450px; }
  body .consultation .row button {
    width: 300px;
    font-size: 18px;
    line-height: 22px; }
  body .news_intro h1 {
    font-size: 38px !important; }
  body .line2 {
    width: 1024px;
    margin-left: -510px !important; }
  .news_card img {
    width: 300px; }
  body .news_card .news_title {
    font-size: 16px; }
  body .news_card .news_desc {
    font-size: 14px; }
  .money {
    margin-top: 50px !important; }
    .money ._container {
      margin: 0 auto; }
      .money ._container .row {
        width: 1024px; }
  body .contract .container {
    max-width: 1024px; }
  .contract .row .contr_card {
    font-weight: 500;
    font-size: 18px !important;
    line-height: 25px !important; }
  .contract .row .contract_card1 img {
    width: 50px;
    height: 40px; }
  .contract .row .contract_card2 img {
    width: 48px !important;
    height: 53px !important; }
  .contract .row .contract_card3 img {
    width: 53px !important;
    height: 54px !important; }
  .about_content p {
    width: 1024px;
    margin: 0 auto; }
    .about_content p br {
      display: none; } }

@media (max-width: 1024px) {
  .graffic img {
    width: 900px; }
  .about_content img {
    width: 768px; }
  body ._container {
    max-width: 768px; }
  .logo img {
    width: 120px !important; }
  body .menu ul li {
    margin-left: 20px;
    font-size: 14px; }
  body .menu ul li:hover {
    margin-left: 20px;
    font-size: 14px; }
  .header_content .haeder_descript h1 {
    font-size: 62px; }
  .header_content .haeder_descript h4 {
    font-size: 18px; }
  .about_content p {
    width: 750px;
    margin: 0 auto;
    font-size: 20px !important; }
    .about_content p br {
      display: none; }
  html h3 {
    font-size: 30px !important; }
  .contract .contract_intro p {
    font-size: 20px; }
  body .contract .container {
    max-width: 768px; }
    body .contract .container .contr_card {
      height: 140px; }
  .contract .row .contr_card {
    font-weight: 500;
    font-size: 14px !important;
    line-height: 20px !important; }
  .contract .row .contract_card1 img {
    width: 45px !important;
    height: 35px !important; }
  .contract .row .contract_card2 img {
    width: 38px !important;
    height: 43px !important; }
  .contract .row .contract_card3 img {
    width: 43px !important;
    height: 44px !important; }
  body .take_part .take_part_intro p {
    font-size: 18px; }
  .take_part .take_part_intro .small_size {
    font-size: 16px !important; }
  body .line2 {
    width: 768px;
    margin-left: -380px !important; }
  body .advantage p {
    font-size: 14px;
    line-height: 24px; }
  body .form .inputs input {
    width: 350px; }
  body .consultation .row textarea {
    width: 350px; }
  body .consultation .row button {
    width: 220px;
    font-size: 16px;
    line-height: 20px; }
  body .form p {
    font-size: 20px !important; }
  body .news_intro h1 {
    font-size: 30px !important; }
  .news_card img {
    width: 250px; }
  body .news_card .news_title {
    width: 240px;
    font-size: 14px; }
    body .news_card .news_title br {
      display: none; }
  body .news_card .news_desc {
    width: 220px;
    font-size: 12px; }
    body .news_card .news_desc br {
      display: none; }
  .money {
    margin-top: 50px !important; }
    .money ._container {
      margin: 0 auto; }
      .money ._container .row {
        width: 768px; }
        .money ._container .row .mini_img {
          width: 60px; }
        .money ._container .row .big_img {
          width: 90px; }
  .bottom_menu .row .bottom_logo img {
    width: 140px; }
  .bottom_menu .row .bottom_title {
    font-size: 16px; }
  .bottom_menu .row .column li {
    font-size: 14px; }
  .bottom_menu .row .column .social img {
    margin-left: 24px; }
  .bottom_menu .row .social {
    margin-left: -24px; } }

@media (max-width: 768px) {
  body ._container {
    max-width: 425px; }
  .menu {
    display: none; }
  .header .row {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important; }
  .header .burger {
    display: block !important; }
  .header_content .haeder_descript h1 {
    font-size: 50px; }
  .header_content .haeder_descript h4 {
    font-size: 18px; }
  html h3 {
    font-size: 28px !important; }
  .about_content p {
    width: 425px;
    margin: 0 auto;
    font-size: 18px !important; }
    .about_content p br {
      display: none; }
  .about_content img {
    width: 425px; }
  .contract .contract_intro p {
    font-size: 18px; }
    .contract .contract_intro p br {
      display: none; }
  body .rules {
    height: 1800px !important; }
    body .rules .container {
      max-width: 425px;
      margin-left: 0; }
      body .rules .container .row {
        margin: 0 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        body .rules .container .row .contr_card {
          margin-top: 40px;
          font-size: 20px !important;
          line-height: 30px !important; }
        body .rules .container .row .contract_card1 {
          width: 410px; }
        body .rules .container .row .contract_card2 {
          width: 300px; }
        body .rules .container .row .contract_card2 {
          width: 360px; }
  .take_part ._container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  body .line2 {
    width: 425px;
    margin-left: -230px !important; }
  .bottom_title span {
    font-size: 35px !important; }
  .advantage p {
    font-size: 18px !important; }
  body .graffic img {
    width: 700px; }
  body .form h1 {
    font-size: 28px !important; }
  body .form p {
    font-size: 18px !important;
    margin-top: 0px !important; }
  textarea {
    margin-top: 30px; }
  .consultation .row form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: -19px; }
  .consultation button {
    margin-top: 30px !important; }
  body .news_intro h1 {
    font-size: 28px !important; }
  .news_card img {
    width: 350px; }
  body .news_card .news_title {
    width: 320px;
    font-size: 18px; }
    body .news_card .news_title br {
      display: none; }
  body .news_card .news_desc {
    width: 300px;
    font-size: 16px; }
    body .news_card .news_desc br {
      display: none; }
  .news_card2 {
    display: none; }
  .news_card3 {
    display: none; }
  .news .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .money_card {
    display: none; }
  body .money .row {
    width: 425px !important; }
  .money ._container .row .mini_img {
    width: 90px; }
  body .bottom_menu {
    height: 1150px;
    padding-top: 200px; }
    body .bottom_menu .row {
      margin-left: 100px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-line-pack: center;
      align-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .money {
    margin-top: 0px !important; } }

@media (max-width: 425px) {
  body ._container {
    max-width: 375px; }
  .burger_menu-active {
    margin-left: -25px !important; }
  .header_content .haeder_descript h1 {
    font-size: 40px; }
  .header_content .haeder_descript h4 {
    font-size: 16px; }
  html h3 {
    font-size: 26px !important; }
  .about_content p {
    width: 375px;
    margin: 0 auto;
    font-size: 16px !important; }
  .about_content img {
    width: 375px; }
  .contract .contract_intro p {
    font-size: 16px; }
  .contract_card1 {
    width: 350px !important; }
  .contract_card2 {
    width: 300px !important; }
  .contract_card3 {
    width: 335px !important; }
  body .rules .container .row {
    margin-left: -30px; }
  body .take_part .take_part_intro p {
    font-size: 16px;
    line-height: 13px; }
  body .take_part .take_part_intro .small_size {
    font-size: 14px !important; }
  body .line2 {
    width: 375px;
    margin-left: -190px !important; }
  .bottom_title span {
    font-size: 32px !important; }
  .advantage {
    width: 320px; }
  .take_part .row {
    margin-left: 80px; }
  body .graffic img {
    width: 400px; }
  body .news_intro h1 {
    font-size: 26px !important; }
  .money ._container .row {
    width: 375px !important; }
  body .bottom_menu .row {
    margin-left: 0px; }
  footer .foot_title p {
    font-size: 13px !important;
    line-height: 22px !important; } }

@media (max-width: 400px) {
  .take_part .row {
    margin-left: 65px; }
  .logo {
    margin-left: 30px; }
  .header_content .haeder_descript h1 {
    font-size: 36px; }
  html h3 {
    font-size: 24px !important; }
  .about_content p {
    width: 320px;
    margin: 0 auto;
    font-size: 14px !important; }
  .about_content img {
    width: 320px; }
  .contract .contract_intro p {
    font-size: 14px; }
  .contract_card1 {
    width: 320px !important; }
  .contract_card2 {
    width: 270px !important; }
  .contract_card3 {
    width: 305px !important; }
  body .rules .container .row {
    margin-left: -50px; }
  body .line2 {
    width: 320px;
    margin-left: -160px !important; }
  .bottom_title span {
    font-size: 30px !important; }
  .take_part .row {
    margin-left: 65px;
    padding-right: 200px !important; }
  .advantage {
    width: 250px !important; }
  body .graffic img {
    width: 350px; }
  .graffic_intro {
    margin-left: 20px; }
  .take_part .row {
    margin-left: 80px; }
  body .form h1 {
    font-size: 26px !important; }
  body .form p {
    font-size: 14px !important; }
  body .form .inputs input {
    width: 300px;
    height: 45px; }
  body .consultation .row textarea {
    width: 300px;
    height: 75px; }
  body .consultation .row button {
    width: 200px;
    font-size: 14px;
    line-height: 18px; }
  .form {
    margin-left: 20px; }
  body .form h1 {
    font-size: 24px !important; }
  body .consultation .row button {
    width: 299px;
    height: 41px;
    font-size: 14px;
    line-height: 18px; }
  body .form .line1 {
    width: 137px;
    height: 3px !important; }
  body .form p {
    display: none; }
  form {
    margin-top: 20px !important; }
  body .news_intro h1 {
    font-size: 24px !important; }
  .news .news_intro .line1 {
    margin-left: -65px !important; }
  .news_card img {
    width: 310px; }
  body .news_card .news_title {
    width: 300px;
    font-size: 18px; }
  .money ._container .row {
    width: 320px !important;
    margin-left: 25px; }
  footer .foot_title p {
    font-size: 12px !important;
    line-height: 22px !important; }
  .burger_menu-active {
    margin-left: 0px !important; } }

@media (max-width: 320px) {
  body ._container {
    max-width: 320px; }
  .header_content .haeder_descript h1 {
    font-size: 32px; }
  html h3 {
    font-size: 22px !important; }
  .about_content p {
    width: 300px;
    margin: 0 auto;
    font-size: 14px !important; }
  .about_content img {
    width: 300px; }
  .contract .contract_intro p {
    font-size: 12px; }
  body .take_part .take_part_intro p {
    font-size: 14px;
    line-height: 12px; }
  body .take_part .take_part_intro .small_size {
    font-size: 12px !important; }
  body .advantage p {
    font-size: 16px !important;
    line-height: 24px; }
  .contract_card1 {
    width: 290px !important; }
  .contract_card2 {
    width: 240px !important; }
  .contract_card3 {
    width: 275px !important; }
  body .rules .container .row .contr_card {
    margin-top: 40px;
    font-size: 16px !important;
    line-height: 30px !important; }
  body .rules .container .row {
    margin-left: -55px; }
  .contract .contract_intro p {
    display: none; }
  .contract_intro .line {
    margin-top: 5px; }
  .graffic_intro {
    margin-left: 10px; }
  body .graffic img {
    width: 320px; }
  body .form .inputs input {
    width: 300px;
    height: 35px; }
  body .consultation .row textarea {
    width: 300px;
    height: 73px; }
  body .form h1 {
    font-size: 24px !important;
    line-height: 24px !important; }
  .form {
    margin-left: 10px; }
  body .news_intro h1 {
    font-size: 24px !important;
    line-height: 28px !important; }
  .news .news_intro .line1 {
    height: 3px; }
  .news_card img {
    width: 300px; }
  body .news_card .news_desc {
    width: 290px;
    font-size: 14px; }
  .money ._container .row {
    width: 320px;
    height: 94.65px;
    margin-left: 0px;
    margin-top: 100px; }
  footer .foot_title p {
    font-size: 10px !important;
    line-height: 20px !important; }
  .take_part .row {
    margin-left: 70px; } }

.burger {
  display: none;
  cursor: pointer;
  width: 70px;
  height: 70px;
  margin-top: 20px; }
  .burger span {
    width: 29px;
    height: 4px;
    background: #0B1328;
    position: absolute; }
  .burger .burg2 {
    margin-top: 10px; }
  .burger .burg3 {
    margin-top: 20px; }

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Bayon', sans-serif; }

@font-face {
  font-family: "futura";
  src: url("../fonts/futura-md-bt-medium.ttf"); }

@font-face {
  font-family: "calibri";
  src: url("../fonts/Calibri-Bold.ttf"); }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

ul {
  list-style: none; }

a:hover {
  text-decoration: none; }

.header {
  height: 100px;
  background: #fff;
  padding-top: 7px; }
  .header .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

._container {
  max-width: 1250px;
  margin: 0 auto; }

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -50px; }
  .menu ul li {
    font-family: 'Bayon', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    color: #0B1328;
    margin-left: 50px;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
  .menu ul li:hover {
    font-family: 'Bayon', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    color: #E01F11;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
  .menu ul .active {
    font-family: 'Bayon', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    color: #E01F11; }
  .menu ul i {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin-bottom: 3px; }
  .menu ul .down {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }

.header_content {
  height: 700px;
  background: #0B1328; }
  .header_content .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.haeder_descript {
  padding-top: 294px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .haeder_descript h4 {
    font-family: 'Alata', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF; }
    .haeder_descript h4 span {
      color: #E01F11; }
  .haeder_descript h1 {
    font-family: 'Alata', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 99px;
    text-align: center;
    color: #FFFFFF; }
  .haeder_descript p {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    color: #FFFFFF;
    margin-top: 20px; }

.burger_menu {
  display: none; }

.burger_menu-active {
  display: block;
  background: #fff;
  position: absolute;
  width: 100%;
  height: 800px;
  margin-top: 725px;
  margin-left: -175px;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in; }
  .burger_menu-active .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer; }
  .burger_menu-active .close:hover {
    opacity: 1; }
  .burger_menu-active .close:before, .burger_menu-active .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333; }
  .burger_menu-active .close:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .burger_menu-active .close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .burger_menu-active ul {
    padding-top: 100px; }
    .burger_menu-active ul li {
      font-family: 'Bayon', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 29px;
      color: #0B1328;
      margin-left: 50px;
      cursor: pointer;
      -webkit-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }

.about_us {
  padding-top: 143px; }
  .about_us .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.about_content {
  text-align: center; }
  .about_content h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 150.37%;
    color: #0B1328; }
  .about_content p {
    font-family: 'Alata', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 153.87%;
    color: #0B1328;
    margin-top: 60px; }
  .about_content img {
    margin-top: 55px; }
  .about_content .line {
    margin-left: -70px; }

.line {
  width: 137px;
  height: 3px;
  background: #E01F11;
  position: absolute;
  margin-top: 26px; }

.rules {
  background: url("../img/Group 273.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1253px;
  margin-top: 90px; }

.contract_intro {
  padding-top: 95px;
  text-align: center; }
  .contract_intro h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 150.37%;
    color: #0B1328; }
  .contract_intro p {
    font-family: 'Alata', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 153.87%;
    color: #0B1328;
    margin-top: 60px; }
  .contract_intro .line {
    margin-left: -70px; }

.contract .container {
  max-width: 1400px;
  margin: 0 auto; }

.contract .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 90px; }
  .contract .row .contract_card1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 501px;
    height: 154px;
    background: #FFFFFF;
    border: 2px solid #D4D4D4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
    color: #E01F11; }
    .contract .row .contract_card1 img {
      width: 59px;
      height: 50px; }
    .contract .row .contract_card1 span {
      font-weight: bold; }
  .contract .row .contract_card2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 400px;
    height: 154px;
    background: #FFFFFF;
    border: 2px solid #D4D4D4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
    color: #E01F11; }
    .contract .row .contract_card2 img {
      width: 58px;
      height: 63px; }
    .contract .row .contract_card2 span {
      font-weight: bold; }
  .contract .row .contract_card3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 444px;
    height: 154px;
    background: #FFFFFF;
    border: 2px solid #D4D4D4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
    color: #E01F11; }
    .contract .row .contract_card3 img {
      width: 58px;
      height: 69px; }
    .contract .row .contract_card3 span {
      font-weight: bold; }
  .contract .row .contr_card {
    margin-left: 70px; }

.take_part {
  padding-top: 100px; }
  .take_part .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .take_part .take_part_intro {
    text-align: center; }
    .take_part .take_part_intro .bottom_title {
      margin-top: 140px; }
    .take_part .take_part_intro h3 {
      font-family: 'Josefin Sans' sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 48px;
      color: #0B1328; }
      .take_part .take_part_intro h3 span {
        font-size: 40px;
        line-height: 40px; }
    .take_part .take_part_intro p {
      margin-top: 19px;
      font-family: 'Alata', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 33px;
      color: #0B1328; }
    .take_part .take_part_intro .small_size {
      font-size: 18px; }

.line2 {
  width: 1246px;
  height: 3px;
  background: #CFCFCF;
  position: absolute;
  margin-top: 77px;
  margin-left: -650px; }

.advantage {
  margin-top: 59px; }
  .advantage p {
    font-family: 'Bayon', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 44px;
    color: #0B1328; }
  .advantage span {
    font-weight: bold; }

.number {
  width: 40px;
  height: 45px;
  background: #E01F11;
  border-radius: 10px;
  font-family: 'Futura Md BT', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 10px;
  position: absolute;
  margin-left: -60px;
  margin-top: 20px; }

.graffic {
  margin-top: 105px; }
  .graffic .row {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .graffic .graffic_intro h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    color: #0B1328; }

.consultation {
  margin-top: 180px; }
  .consultation .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .consultation .row h1 {
      font-family: 'Josefin Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 48px;
      color: #0B1328; }
    .consultation .row p {
      font-family: 'Bayon', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 44px;
      color: #0B1328;
      margin-top: 26px; }
    .consultation .row input {
      width: 562px;
      height: 56px;
      border: 2px solid rgba(11, 19, 40, 0.4);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 10px;
      margin-top: 29px; }
    .consultation .row input::-webkit-input-placeholder {
      font-family: "calibri";
      font-style: italic;
      font-weight: 300;
      font-size: 16px;
      line-height: 16px;
      color: rgba(11, 19, 40, 0.4);
      padding-left: 18px; }
    .consultation .row input:-ms-input-placeholder {
      font-family: "calibri";
      font-style: italic;
      font-weight: 300;
      font-size: 16px;
      line-height: 16px;
      color: rgba(11, 19, 40, 0.4);
      padding-left: 18px; }
    .consultation .row input::-ms-input-placeholder {
      font-family: "calibri";
      font-style: italic;
      font-weight: 300;
      font-size: 16px;
      line-height: 16px;
      color: rgba(11, 19, 40, 0.4);
      padding-left: 18px; }
    .consultation .row input::placeholder {
      font-family: "calibri";
      font-style: italic;
      font-weight: 300;
      font-size: 16px;
      line-height: 16px;
      color: rgba(11, 19, 40, 0.4);
      padding-left: 18px; }
    .consultation .row textarea::-webkit-input-placeholder {
      font-family: "calibri";
      font-style: italic;
      font-weight: 300;
      font-size: 16px;
      line-height: 16px;
      color: rgba(11, 19, 40, 0.4);
      padding-left: 18px;
      padding-top: 22px; }
    .consultation .row textarea:-ms-input-placeholder {
      font-family: "calibri";
      font-style: italic;
      font-weight: 300;
      font-size: 16px;
      line-height: 16px;
      color: rgba(11, 19, 40, 0.4);
      padding-left: 18px;
      padding-top: 22px; }
    .consultation .row textarea::-ms-input-placeholder {
      font-family: "calibri";
      font-style: italic;
      font-weight: 300;
      font-size: 16px;
      line-height: 16px;
      color: rgba(11, 19, 40, 0.4);
      padding-left: 18px;
      padding-top: 22px; }
    .consultation .row textarea::placeholder {
      font-family: "calibri";
      font-style: italic;
      font-weight: 300;
      font-size: 16px;
      line-height: 16px;
      color: rgba(11, 19, 40, 0.4);
      padding-left: 18px;
      padding-top: 22px; }
    .consultation .row button {
      font-family: 'Futura Md BT', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      width: 409px;
      height: 61px;
      background: #E01F11;
      border-radius: 10px;
      margin-top: -20px; }
    .consultation .row form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: -19px; }
    .consultation .row textarea {
      width: 562px;
      height: 220px;
      border: 2px solid rgba(11, 19, 40, 0.4);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 10px; }

.news {
  height: 793px;
  background: #FBFBFB;
  margin-top: 98px;
  padding-top: 77px; }
  .news .row {
    margin-top: 66px; }
  .news .news_intro {
    text-align: center; }
    .news .news_intro h1 {
      font-family: 'Josefin Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 48px;
      color: #0B1328; }
    .news .news_intro .line1 {
      margin-left: -30px; }
  .news .news_title {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #0B1328;
    margin-top: 30px; }
  .news .news_desc {
    margin-top: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #646464; }

.money {
  margin-top: 13px;
  z-index: 10;
  left: 17%; }
  .money .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    z-index: 10;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 20px;
    width: 1246px;
    height: 137px;
    background: #FFFFFF;
    -webkit-box-shadow: -1px 4px 20px rgba(0, 0, 0, 0.25);
    box-shadow: -1px 4px 20px rgba(0, 0, 0, 0.25);
    position: absolute; }

.bottom_menu {
  z-index: 0;
  background: url("../img/Rectangle 68.png");
  height: 386px;
  padding-top: 78px; }
  .bottom_menu .row {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

.bot .row {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.column .social {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: -32px; }
  .column .social img {
    margin-left: 32px; }

.column .bottom_title {
  font-family: 'Futura Md BT', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 26px; }

.column ul {
  margin-top: -8px; }
  .column ul li {
    font-family: 'Bayon', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 8px; }

.column .bottom_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .column .bottom_form .form_text {
    margin-top: 13px; }
    .column .bottom_form .form_text input {
      width: 299px;
      height: 56px;
      border: 2px solid #DADADA;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 10px;
      background: transparent;
      font-family: 'Bayon', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 29px;
      color: #FFFFFF; }
    .column .bottom_form .form_text input::-webkit-input-placeholder {
      font-family: 'Calibri', sans-serif;
      font-style: italic;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #767676;
      padding-left: 18px; }
    .column .bottom_form .form_text input:-ms-input-placeholder {
      font-family: 'Calibri', sans-serif;
      font-style: italic;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #767676;
      padding-left: 18px; }
    .column .bottom_form .form_text input::-ms-input-placeholder {
      font-family: 'Calibri', sans-serif;
      font-style: italic;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #767676;
      padding-left: 18px; }
    .column .bottom_form .form_text input::placeholder {
      font-family: 'Calibri', sans-serif;
      font-style: italic;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #767676;
      padding-left: 18px; }
  .column .bottom_form .form_btn {
    margin-left: -55px;
    margin-top: 13px; }
    .column .bottom_form .form_btn button {
      background: #E01F11;
      border-radius: 10px;
      width: 56px;
      height: 56px;
      padding-top: 8px; }

.line1 {
  width: 137px;
  height: 5px;
  background: #E01F11;
  position: absolute;
  margin-top: 26px; }

footer {
  background: #fff;
  height: 90px; }
  footer .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 20px; }
  footer .foot_title p {
    font-family: 'Bayon', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #0B1328; }
  footer .foot_title ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -19px; }
    footer .foot_title ul li {
      margin-left: 19px; }
      footer .foot_title ul li span {
        width: 22px;
        height: 1px;
        background: #0B1328;
        position: absolute;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        margin-top: 10px;
        margin-left: -10px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
